@{
    ViewData["Title"] = "Yönetici Paneli";
}

<div class="container my-5">
    <h1 class="text-center">Yönetici Paneli</h1>
    <div class="list-group">
        <a href="/Admin/ManageCars" class="list-group-item list-group-item-action">Araç Yönetimi</a>
        <a href="/Admin/ManageUsers" class="list-group-item list-group-item-action">Kullanıcı Yönetimi</a>
    </div>
</div>
