@{
    ViewData["Title"] = "Anasayfa";
}

<h1>@ViewData["WelcomeMessage"]</h1>

<p>Burada araç kiralama işlemlerinizi hızlı ve kolay bir şekilde yapabilirsiniz.</p>

<a href="/User/Index" class="btn btn-primary">Araçları Görüntüle</a>
<a href="/Admin/Index" class="btn btn-secondary">Admin Paneline Git</a>
